PROJECT_NAME            = "Inverse PT Calculator"
PROJECT_BRIEF           = "A C++ code for the calculation fluid profiles of direct and inverse phase transitions and for computing the corresponding gravitational wave spectrum within the sound shell model."
OUTPUT_DIRECTORY        = docs
EXTRACT_ALL             = YES
EXTRACT_PRIVATE         = YES
EXTRACT_PRIV_VIRTUAL    = YES
EXTRACT_PACKAGE         = YES
EXTRACT_STATIC          = YES
EXTRACT_LOCAL_METHODS   = YES
EXTRACT_ANON_NSPACES    = YES
SORT_MEMBER_DOCS        = NO
GENERATE_DEPRECATEDLIST = YES
WARN_NO_PARAMDOC        = YES
WARN_IF_UNDOC_ENUM_VAL  = YES
INPUT                   = include/inverse_pt src
FILE_PATTERNS           = *.cpp \
                          *.hpp
USE_MATHJAX             = YES
EXTRA_PACKAGES          = amsmath amssymb amsfonts